In [1]:
import pandas as pd
import yfinance as yf

In [2]:
aa = ["ETH-USD", "LINK-USD", "ADA-USD"]
df = yf.download(aa)["Close"]
df = df.dropna()

[*********************100%***********************]  3 of 3 completed

In [3]:
df = df.pct_change() * 100
df

              ADA-USD    ETH-USD   LINK-USD
Date
2017-10-01        NaN        NaN        NaN
2017-10-02   3.856777  -1.608139 -18.293954
2017-10-03 -19.728517  -1.684845  -3.148270
2017-10-04   5.356456   0.066667  14.998770
2017-10-05  -2.015412   1.095141   2.309487
...               ...        ...        ...
2021-04-30   3.397137   0.592340   4.619251
2021-05-01   0.045984   6.226935   7.836013
2021-05-02  -1.940692   0.209218  -3.919141
2021-05-03   2.654332  16.226996   6.467435
2021-05-04  -5.258974  -4.822193  10.490112

[1308 rows x 3 columns]

In [4]:
correlacion = df.corr()

In [5]:
correlacion

           ADA-USD   ETH-USD  LINK-USD
ADA-USD   1.000000  0.557918  0.386646
ETH-USD   0.557918  1.000000  0.547112
LINK-USD  0.386646  0.547112  1.000000

In [6]:
df.mean()

ADA-USD     0.593833
ETH-USD     0.314486
LINK-USD    0.645505
dtype: float64

In [7]:
df.describe()

           ADA-USD      ETH-USD     LINK-USD
count  1307.000000  1307.000000  1307.000000
mean      0.593833     0.314486     0.645505
std       8.342245     5.096649     7.705041
min     -39.567200   -42.347221   -45.913037
25%      -2.946296    -2.008054    -3.530193
50%       0.100222     0.122115    -0.007074
75%       3.276730     2.749690     4.184552
max     136.680970    26.458071    61.706886